/* TODO Add site wide styles */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

:root {
  --mWidth: 2248px;
}

@keyframes spreadName {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes risingName {
  0% {
    transform: translateY(32px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes descendingName {
  0% {
    transform: translateY(-32px);
    color: #9D0606;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes languageTabEmerge {
  from {
    right: -144px;
  }

  to {
    right: -104px;
  }
}

@keyframes risingHead {
  from {
    top: 100%;
  }

  to {
    top: 56px;

  }
}

@keyframes fadeInDrapes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


#main-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content {
  width: 100%;
  max-width: 2248px;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: black;
  /* opacity: 0.7; */
  position: relative;
  overflow: hidden;
}

#transforming-name {
  margin-top: 100px;
  width: 100%;
  max-width: 2248px;
  height: 2px;
  background-color: #9D0606;
  /* background-color: white; */
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: spreadName;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 4;
}

.emerging {
  font-size: 48px;
  /* color: #9D0606; */
  color: white;
  padding: 0px;
  margin: 0px;
}

#falling-name {
  margin-top: -11px;
  margin-right: 8%;
  position: absolute;
  top: 12px;
  right: 0px;
  /* height: 40px; */
  overflow: hidden;
  /* border: 1px solid black; */
}

#rising-name {
  margin-left: 8%;
  position: absolute;
  top: -42px;
  overflow: hidden;
  color: #9D0606;
  /* border: 1px solid black; */
}

#name-from-above {
  padding: 0px;
  height: 42px;
  position: relative;
  /* top: 32px; */
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: risingName;
}

#name-from-below {
  height: 42px;
  position: relative;
  top: -10px;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: descendingName;
  z-index: 3;
}

/*  Language Options */

.rising-languages {
  padding-top: 5px;
  position: absolute;
  z-index: 6;
  color: white;
}

.rising-languages:hover {
  cursor: pointer;
  color: rgb(170, 170, 170);
  transition: all 0.2s ease-in-out;
}

.rising-languages:active {
  color: purple;
}

#nihongo {
  padding-left: 8px;
  right: 40px;
}

#concave-right {
  position: absolute;
  height: 36px;
  width: 36px;
  right: -34.5px;
  /* overflow: hidden; */
}

.concavity {
  position: relative;
  height: 18px;
  width: 18px;
  border: 1px solid white;
}

.cr {
  top: -18px;
  right: 0px;
  left: -0.4px;
  border-radius: 100% 0 0 0;
  border: 1.1px solid white;
  border-bottom: none;
  border-right: none;
}

#fill-corner-right {
  position: absolute;
  bottom: 1.7px;
  left: -7.9px;
  height: 9px;
  width: 9px;
  border-radius: 25%;
  border: 0.8px solid white;
  border-left: none;
  border-top: none;
  z-index: 40;
}

#exp1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

#language-tab {
  position: absolute;
  top: 400px;
  right: -104px;
  transform: rotate(90deg);
  height: 36px;
  width: 240px;
  animation-duration: 2s;
  animation-name: languageTabEmerge;
}

#curve-right {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
  border-left: none;
  border-top: none;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}

#curve-left {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
  border-right: none;
  border-top: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

#bottom-border-test {
  box-sizing: content-box;
  width: 200px;
  height: 0px;
  /* background-color: white; */
  border: 1px solid white;
  position: absolute;
  bottom: 0px;
  left: 20px;
  z-index: 4;
}

#curve-out-right {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  border-bottom: none;
  border-right: none;
  right: -35px;
  top: 0px;
  z-index: 2;
}

#curve-out-left {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  border-bottom: none;
  border-left: none;
  left: -35px;
  top: 0px;
  z-index: 2;
}

#remove-center {
  position: absolute;
  bottom: 1px;
  left: 20px;
  height: 16px;
  width: 200px;
  background-color: black;
  z-index: 3;
}

#remove-curve-in-top-inside {
  position: relative;
  top: 1px;
  left: 1px;
  width: 17px;
  height: 27px;
  border-radius: 50%;
  border-bottom-left-radius: 18px;
  /* border: 0.5px solid white; */
  background-color: black;
  z-index: 4;
}

#touchup-inside-top {
  position: absolute;
  width: 4px;
  height: 6px;
  /* border: 1px solid white; */
  background-color: black;
  z-index: 5;
  bottom: 10px;
  left: -0.5px;
  transform: rotate(-8deg);
}

#remove-curve-in-top-outside {
  width: 38px;
  height: 38px;
  /* border: 1px solid white; */
  border-top-right-radius: 8px;
  background-color: black;
  position: absolute;
  left: -42px;
  top: 2.5px;
  transform: rotate(52deg);
  z-index: 4;
}

#touchup-outside-top {
  position: absolute;
  bottom: 34px;
  left: 26.8px;
  width: 4px;
  height: 6px;
  /* border: 1px solid white; */
  background-color: black;
  z-index: 5;
  transform: rotate(-66deg);
}

#remove-curve-in-bottom-inside {
  position: relative;
  top: -25px;
  right: -222.6px;
  width: 17px;
  height: 22px;
  border-radius: 50%;
  border-bottom-right-radius: 18px;
  /* border: 1px solid white; */
  background-color: black;
  z-index: 4;
}

#touchup-inside-bottom {
  width: 4px;
  height: 6px;
  /* border: 1px solid white; */
  background-color: black;
  transform: rotate(4deg);
  position: absolute;
  z-index: 4;
  border-radius: 6px;
  right: 1.2px;
  bottom: 3px;
}

#remove-curve-in-bottom-outside {
  width: 38px;
  height: 39px;
  /* border: 1px solid white; */
  border-top-left-radius: 8px;
  background-color: black;
  position: absolute;
  right: -42.5px;
  top: 3px;
  transform: rotate(-48deg);
  z-index: 4;
}

#touchup-outside-bottom {
  width: 4px;
  height: 6px;
  /* border: 1px solid white; */
  background-color: black;
  transform: rotate(60deg);
  position: absolute;
  right: 29px;
  bottom: 34.3px;
  z-index: 4;
}

#english {
  left: 40px;
  padding-top: 6px;
}

.language-hover:hover {
  transition: all 0.2s ease-in;
  cursor: pointer;
  border-color: #9D0606;
}

#headshot {
  width: 400px;
  position: absolute;
  left: -99px;
  top: -15px;
  z-index: 10;
}

#headshot-container {
  position: relative;
  z-index: 10;
  top: 56px;
  left: calc(50% - 120px);
  width: 240px;
  height: 240px;
  border: 16px solid black;
  overflow: hidden;
  border-radius: 120px;
  animation-duration: 2s;
  animation-name: risingHead;
}

#language-tab-reveal {
  position: absolute;
  top: 400px;
  right: -104px;
  transform: rotate(90deg);
  height: 36px;
  width: 240px;
  z-index: 20;
  background-color: rgb(154, 154, 154);
}

#languages {
  color: #9D0606;
  font-weight: bold;
  position: absolute;
  left: 70px;
  top: 4px;
}

#language-slide-together {
  position: absolute;
  z-index: 21;
  right: 0px;
  top: 0px;
  width: fit-content;
  height: fit-content;
}

#black-frost {
  /* display: flex; */
  /* align-items: center; */
  opacity: 1;
  background-color: black;
  position: absolute;
  /* z-index: auto; */
  z-index: 1;
  top: 0px;
  width: 100%;
  max-width: 2248px;
  height: fit-content;
  margin-top: 100px;

  animation-duration: 5s;
  animation-name: fadeInDrapes;
}

#curtains-vid {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  max-width: 2248px;
  min-height: 100vh;
}


#red-curtains {
  width: auto;
  height: auto;
  min-height: 100vh;
  min-width: 100%;
  max-width: 2248px;
  position: absolute;
  z-index: -1;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.curtain-cont {
  width: 100%;
  margin-top: calc(0 - (var(--mWidth) - 100%));
}

.opener {
  position: relative;
  z-index: 20;
}

.opener:hover {
  cursor: pointer;
}
/* 40px */
